$accent-color: rgba(33, 150, 243, 1);
$accent-color-blurry: rgba(33, 150, 243, 0.9);
$main-text-color: rgba(33, 33, 33, 1);
$sub-text-color: rgba(117, 117, 117, 1);
$sub-sub-text-color: rgba(117, 117, 117, 0.5);
$email-phone-color: rgba(255, 255, 255, 0.6);
$bnt-bg--color: rgba(245, 244, 250, 1);
$footer-header: rgba(47, 48, 58, 1);
$body-hero-color: rgba(255, 255, 255, 1);
$logo-main-color: rgba(0, 0, 0, 1);
$bg-color: rgba(229, 229, 229, 1);
$header-border-color: rgba(236, 236, 236, 1);
$portfolio-cards-border: rgba(238, 238, 238, 1);
$team-cards-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$buttons-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
$margins-portfolio-cards: 30px;
$portfolio-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
$hero-overlay: rgba(47, 48, 58, 0.4);
$envelope-hover-color: 0px 4px 4px rgba(0, 0, 0, 0.25);
$icons-bg-footer: rgba(255, 255, 255, 0.1);
$clients-icons-border: rgba(175, 177, 184, 1);
$icons-color: rgb(175, 177, 184);
$works-bg: rgba(47, 48, 58, 0.8);
$modal-bg: rgba(0, 0, 0, 0.2);
$modal-btn-close-bg: rgba(0, 0, 0, 0.1);
$submit-btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$footer-subscribtion-input: rgba(255, 255, 255, 0.3);
